<p class="post-title">새 게시물</p>

<%= form_with model: @post do |form|%>
  <%= form.label :title, '제목', class:'form-label'%>
  <%= form.text_field :title, class:'form-input' %>
  <%= form.label :content, ' 내용', class:'form-label'%>
  <%= form.text_area :content, class:'form-textarea' %>
  <%= form.submit "게시글 수정", class:'form-submit' %>
<% end %>

<a href="/posts" class="form-link">게시물로 돌아가기</a>